.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  gap: 1rem;
}
.icon{
  width: 130px;
  height: 130px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: white;
  position: relative;
  &:hover{
    background-color: #a7fff3;
  }
}

.icon-inner{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 8px;
}

.icon-image{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-image svg{
  width: 100%;
  height: 100%;
}
.icon-name{
  font-size: 14px;
  cursor: pointer;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap : 0.5rem;
  &:hover{
    font-size: 13px;
  }
}

.icon-name p{
  color: rgb(97,109,138);
  font-weight: 500;
}
.copy-message{
  position: absolute;
  bottom: 10px;
  left: 30%;
  width: 60px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #56aedfe3;
  color: white;
  font-size: 0.5rem;
  font-weight: 500;
  border-radius: 1rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  &.active{
    opacity: 1;
  }
}

.search-container{
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.search-container input{
  width: 300px;
  height: 100%;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 500;
  &:focus{
    outline: none;
  }
}